
.filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: row nowrap;
  margin: .5rem 1.4rem;
}

.filter-content .selectbox {
  display: flex;
  flex-flow: row nowrap;
  margin: .5rem;
}

body {
  margin: 0;
  padding: 0;
}

.selectbox {
  position: relative;
}

.selectbox::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: .7rem;
  width: 0;
  height: 0;
  border: 2px solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: .2rem;
  transform: rotate(45deg);
}

select {
  border: none;
  font-size: 1.1rem;
  width: 200px;
  padding: .6rem 1.6rem .6rem .6rem;
  display: flex;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  outline: 0;
  cursor: pointer;
  appearance: none;
}

.search {
  width: 90%;
  display: flex;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.searchTerm {
  width: 100%;
  border: none;
  padding: .9em 1.3rem;
  height: 20px;
  border-radius: var(--borderRadius);
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: var(--black);
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  margin: 1rem auto;
}

@media (max-width:768px) {
  select {
    border: none;
    font-size: 1.1rem;
    width: 160px;
    padding: .6rem 1.6rem .6rem .6rem;
    display: flex;
    background-color: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    outline: 0;
    cursor: pointer;
    appearance: none;
  }
}